.vscode/**
.vscode-test/**
out/**
src/**
test/**
test-fixtures/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
node_modules
tsconfig.json
webpack.config.js
webpack.config.ts
licenseTemplates
.node-version
