# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on: [push, pull_request]

jobs:

  ubuntu-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    env:
      DISPLAY: ":99.0"
      CI: true
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
      name: Start Xvfb
    - run: npm install -g typescript vsce
    - run: npm ci
    - run: npm run vscode:prepublish
    - run: npm run test-compile
    - run: npm test
    - run: vsce package

  macos-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    env:
      DISPLAY: ":99.0"
      CI: true
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g typescript vsce
    - run: npm ci
    - run: npm run vscode:prepublish
    - run: npm run test-compile
    - run: npm test
    - run: vsce package

